h1 {
  font-size: $font-title;
  margin: $space-big 0 $space-big 0;
  padding: unset;
  line-height: $line-title;
}
h2 {
  font-size: $font-big;
  margin: $space-normal 0 $space-normal 0;
  padding: unset;
  line-height: $line-title;
}
h3 {
  font-size: $font-small;
  margin: unset;
  padding: unset;
  line-height: $line-normal;
}
p {
font-size: $font-medium;
  margin: unset;
  padding: unset;
  line-height: $line-normal;
}
.button {
  @include button($primary);
  &.valid {
    @include button($valid);
  }
  &.error {
    @include button($error);
  }
  &.cancel {
    @include button($cancel);
  }
}
