$font-small: clamp(0.75rem, 0.667rem + 0.333vw, 0.875rem);
$font-medium: clamp(1rem, 0.917rem + 0.333vw, 1.125rem);
$font-big: clamp(1.25rem, 1.167rem + 0.333vw, 1.375rem);
$font-title: clamp(1.5rem, 1.417rem + 0.333vw, 1.625rem)

