@mixin button ($color) {
  width: 200px;
  height: 44px;
  color: $color;
  border-radius: $radius;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  border: solid $border $color;
  gap: $space-small;
}
@mixin buttonFull ($color, $width) {
  width: $width;
  background-color: $color;
  color: $dark;
  border: unset;
  border-radius: unset;
}

@mixin buttonInvisible ($color) {
  color: $color;
  border: unset;
  border-radius: unset;
  width: min-content;
  height: min-content;
}
