@mixin button ($color) {
  width: 200px;
  height: 44px;
  color: $color;
  border-radius: $radius;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  border: solid $border $color;
  gap: $space-small;
}
